<div class="container">
  <div class="row">

    <!-- Row 1, Column 1-->
    <div class="col-md-6 mb-3">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
        <div class="form-group mb-3">
          <input class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation"
            placeholder="Please input a Location" formControlName="location" />
        </div>
        <div class="form-group mb-3">
          <div class="form-check form-check-inline">
            <input class="form-control form-check-input" type="radio" id="unitRadioF" value="f" checked="checked" formControlName="units">
            <label class="form-check-label" for="unitRadioF">Imperial</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-control form-check-input" type="radio" id="unitRadioM" value="m" formControlName="units">
            <label class="form-check-label" for="unitRadioM">Metric</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-control form-check-input" type="radio" id="unitRadioS" value="s" formControlName="units">
            <label class="form-check-label" for="unitRadioS">Scientific (kelvin)</label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>

    <!-- Row 1, Column 2-->
    <div class="col-md-6 mb-3">
      <h3 class="text-center my-4">Weather Details:</h3>
      <ng-container *ngIf="this.weatherData.request">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Weather for {{this.weatherData.location.name}},
              {{this.weatherData.location.region}}
            </h5>

            <div class="container">
              <!-- Row 1, Column 2, Sub-row 1-->
              <div class="row">
                <div class="col-md-6 offset-md-3 mb-3 text-center">
                  <img id="weatherImage" src="{{this.weatherData.current.weather_icons[0]}}"
                    alt="Image for the weather representing {{this.weatherData.current.weather_descriptions[0]}}"
                    title="{{this.weatherData.current.weather_descriptions[0]}}" data-toggle="tooltip" />
                </div>

              </div>
            </div>

            <div class="container">
              <!-- Row 1, Column 2, Sub-row 2-->
              <div class="row">
                <!-- Row 1, Column 2, Sub-row 2, Column 1-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Weather Description</h6>
                      <ng-container *ngIf="this.weatherData.current.weather_descriptions; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.weather_descriptions[0]}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- Row 1, Column 2, Sub-row 6, Column 2-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Temperature</h6>
                      <ng-container *ngIf="this.weatherData.current.temperature; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.temperature}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <!-- Row 1, Column 2, Sub-row 3-->
              <div class="row">
                <!-- Row 1, Column 2, Sub-row 3, Column 1-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Feels Like</h6>
                      <ng-container *ngIf="this.weatherData.current.feelslike; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.feelslike}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- Row 1, Column 2, Sub-row 3, Column 2-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Humidity</h6>
                      <ng-container *ngIf="this.weatherData.current.humidity; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.humidity}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <!-- Row 1, Column 2, Sub-row 4-->
              <div class="row">
                <!-- Row 1, Column 2, Sub-row 4, Column 1-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Wind Speed</h6>
                      <ng-container *ngIf="this.weatherData.current.wind_speed; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.wind_speed}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- Row 1, Column 2, Sub-row 4, Column 2-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Wind Direction</h6>
                      <ng-container *ngIf="this.weatherData.current.wind_dir; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.wind_dir}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <!-- Row 1, Column 2, Sub-row 5-->
              <div class="row">
                <!-- Row 1, Column 2, Sub-row 5, Column 1-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Barometric Pressure</h6>
                      <ng-container *ngIf="this.weatherData.current.pressure; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.pressure}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- Row 1, Column 2, Sub-row 5, Column 2-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Precipitation Amount</h6>
                      <ng-container *ngIf="this.weatherData.current.precip; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.precip}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <!-- Row 1, Column 2, Sub-row 6-->
              <div class="row">
                <!-- Row 1, Column 2, Sub-row 6, Column 1-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">UV Index</h6>
                      <ng-container *ngIf="this.weatherData.current.uv_index; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.uv_index}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- Row 1, Column 2, Sub-row 6, Column 2-->
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title text-center">Observation Time</h6>
                      <ng-container *ngIf="this.weatherData.current.observation_time; else unknown">
                        <div class="card-text text-center">{{this.weatherData.current.observation_time}}</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #unknown>
  <div class="card-text text-center">Unknown or N/A</div>
</ng-template>
